<!DOCTYPE html>
<html>

<head>
    <title>Job Form</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>

<body>
    <center>
        <h2>create a new cronjob</h2>
        <form action="/" method="post">
            <label for="description">Description:</label>
            <input type="text" id="description" name="description" required><br>

            <label for="url">URL:</label>
            <input type="text" id="url" name="url" required><br>

            <label for="time">Time:</label>
            <input type="text" id="time" name="time" required><br>

            <button type="submit">Submit</button>
        </form>
    </center>
    <h3>List of cronjobs created:</h3>
    <table>
        <thead>
            <tr>
                <th>Description</th>
                <th>URL</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            <% jobs.forEach(job=> { %>
                <tr>
                    <td>
                        <%= job.description %>
                    </td>
                    <td>
                        <%= job.url %>
                    </td>
                    <td>
                        <%= job.time %>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</body>

</html>